* {
    font-family: sans-serif;
}


header {
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color: #cecece;
}

header a:not(.default) {
    color: inherit;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.navigation > li > a {
    display: block;
    padding: 1em 0.8em;
}

.navigation a.active {
    background-color: #a5a5a5;
}

.vocalmipt_logo {
    font-size: 30px;
    font-family: sans-serif;
}

.vocalmipt_logo a {
    text-decoration: none;
}

.user_info {
    padding-right: 1em;
    margin-left: auto;
}


main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.content_container {
    max-width: 1000px;
    width: 95%;
}


.form_container {
    display: flex;
    justify-content: center;
}

.form_container td {
    padding: 5px;
}

.form_container td.form_error {
    padding-top: 0;
    color: darkred;
    font-size: 80%;
}


.schedule_table {
    border-collapse: collapse;
    width: 100%;
}

.schedule_table td, .schedule_table th {
    border: 1px solid lightgray;
    padding: 10px 5px;
    text-align: center;
    width: 120px;
}

.schedule_table th:not(:first-child) {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.schedule_table td:not([class]) {
    cursor: pointer;
}

.schedule_taken {
    background-color: lightcoral;
}

.schedule_my {
    background-color: lightgreen;
}

.schedule_table .schedule_active {
    background-color: cyan;
    cursor: pointer;
}

.schedule_table .schedule_action {
    font-weight: inherit;
    border: none;
    text-align: center;
    position: sticky;
    bottom: 0;
    padding-top: 1em;
    background-color: white;
}

.schedule_button {
    padding: 7px;
}

.fill_width {
    width: 100%;
}

.error {
    color: darkred;
}
