{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Vocalmipt{% endblock %}</title>
</head>
<body>
<header>
    <div class="vocalmipt_logo"><a href="/schedule">Vocalmipt</a></div>
    <ul class="navigation">
        <li><a href="/location"{% if path == 'location' %} class="active"{% endif %}>Расположение</a></li>
        <li><a href="/about"{% if path == 'about' %} class="active"{% endif %}>О нас</a></li>
        <li><a href="/balance"{% if path == 'balance' %} class="active"{% endif %}>Баланс</a></li>
        <li><a href="/schedule"{% if path == 'schedule' %} class="active"{% endif %}>Расписание</a></li>
        <li><a href="/faq"{% if path == 'faq' %} class="active"{% endif %}>FAQ</a></li>
        <li><a href="/hardware"{% if path == 'hardware' %} class="active"{% endif %}>Оборудование</a></li>
    </ul>
    <div class="user_info">
        {% if request.user.is_authenticated %}
        {{ request.user.username }} (<a class="default" href="/logout">выйти</a>)<br/>
        {{ request.user.profile.balance }} р.
        {% else %}
            <a class="default" href="/login">Войти</a><br/>
            <a class="default" href="/signup">Зарегистрироваться</a><br/>
        {% endif %}
    </div>
</header>
<main>
    <div class="content_container">
    {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
