{% extends 'base.html' %}

{% block content %}
    <div class="form_container">
    <form method="POST" action="/login">
        {% csrf_token %}
        {% if form.errors %}<p class="error">Вы ввели неверный логин или пароль</p>{% endif %}
        <table>
        <tr><td>Логин: </td><td><input type="text" name="username"/></td></tr>
        <tr><td>Пароль: </td><td><input type="password" name="password"/></td></tr>
        <tr><td colspan="2"><input class="fill_width" type="submit" value="Войти"></td></tr>
        </table>
    </form>
    </div>
{% endblock %}
