{% extends 'base.html' %}

{% block content %}
<script>
{% if request.user.is_authenticated %}
document.addEventListener("DOMContentLoaded", function() {
    let selected = 0;
    const cell_price = {{ cell_price }};
    const user_can_afford = Math.floor({{ user_money }} / cell_price);
    document.querySelector('.schedule_table').addEventListener('click', function(event) {
        const old_selected = selected;

        if (event.target.attributes['data-ts']) {
            if (event.target.classList.contains('schedule_active')) {
                selected -= 1;
                event.target.classList.remove('schedule_active');
            } else {
                selected += 1;
                event.target.classList.add('schedule_active');
            }
        }
        if ((selected > 0) !== (old_selected > 0)) {
            if (selected > 0) {
                document.querySelector('.schedule_action_disabled').hidden = true;
                document.querySelector('.schedule_action_enabled').hidden = false;
            } else {
                document.querySelector('.schedule_action_enabled').hidden = true;
                document.querySelector('.schedule_action_disabled').hidden = false;
            }
        }
        const button = document.querySelector('.schedule_button');
        button.textContent = `Забронировать (${selected * cell_price} р.)`;
        button.disabled = selected > user_can_afford;
    });
    document.querySelector('.schedule_button').addEventListener('click', function() {
        if (!confirm(`Вы уверены, что хотите занять это время?\nСтоимость: ${selected * cell_price} р.`)) return;
        const cells = Array.prototype.slice.call(document.querySelectorAll('.schedule_active'))
            .map(e => e.attributes['data-ts'].value);
        document.getElementById('submit_form_cells').value = cells.join(',');
        document.getElementById('submit_form').submit();
    });
});
{% endif %}
</script>
    {{ table }}
    <table class="schedule_table">
    <tr>
        <th></th>
        {% for day in days %}
            <th>{{ day.0 }}<br/>{{ day.1|date:"d.m" }}</th>
        {% endfor %}
    </tr>
    {% for row in schedule %}
        {% spaceless %}
        <tr><td class="schedule_time">{{ row.start|date:"H:i" }} - {{ row.end|date:"H:i" }}</td>
        {% for cell in row.cells %}
            <td {% if cell.owner and cell.owner == request.user.username %}class="schedule_my"{% elif cell.owner != None %}class="schedule_taken"{% else %}data-ts="{{ cell.ts }}"{% endif %}>
                {{ cell.owner|default_if_none:"" }}
                {% if cell.code and cell.owner and cell.owner == request.user.username %}
                    <br/><b>Код: </b>{{ cell.code }}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
        {% endspaceless %}
    {% endfor %}
    <tr>
        <th class="schedule_action" colspan="100">
            {% if request.user.is_authenticated %}
            <span class="schedule_action_disabled">Для бронирования выберите промежутки в таблице</span>
            <span class="schedule_action_enabled" hidden><button class="schedule_button">Забронировать</button></span>
            {% else %}
            Для бронирования войдите в систему
            {% endif %}
        </th>
    </tr>
    </table>
    <form id="submit_form" action="/schedule" method="POST" hidden>
        {% csrf_token %}
        <input type="hidden" name="cells" id="submit_form_cells" value=""/>
    </form>
{% endblock %}
