{% extends 'base.html' %}

{% block content %}
    <div class="form_container">
    <form method="POST" action="/signup">
        {% csrf_token %}
        <table>
        <tr><td>Логин: </td><td><input type="text" name="username" value="{{ form.cleaned_data.username }}"/></td></tr>
        {% if form.errors.username %}<tr><td colspan="2" class="form_error">{{ form.errors.username.0 }}</td></tr>{% endif %}
        <tr><td>Email: </td><td><input type="email" name="email" value="{{ form.cleaned_data.email }}"/></td></tr>
        {% if form.errors.email %}<tr><td colspan="2" class="form_error">{{ form.errors.email.0 }}</td></tr>{% endif %}
        <tr><td>Пароль: </td><td><input type="password" name="password"/></td></tr>
        {% if form.errors.password %}<tr><td colspan="2" class="form_error">{{ form.errors.password.0 }}</td></tr>{% endif %}
        <tr><td>Повторите пароль: </td><td><input type="password" name="password_repeat"/></td></tr>
        {% if form.errors.password_repeat %}<tr><td colspan="2" class="form_error">{{ form.errors.password_repeat.0 }}</td></tr>{% endif %}
        <tr><td colspan="2"><input class="fill_width" type="submit" value="Зарегистрироваться"></td></tr>
        </table>
    </form>
    </div>
{% endblock %}
